
<div class="container">
	<div class="row">
	<%= render 'navbar' %>
	</div>
	<div class="row">
		<div class="col-md-4">
		<%= render 'posts/form', post:  @post %>
				
			
	 	<%= render "home/sign_up" %>


			<% @users.each do|user| %>
				<li><%=user.first_name%> <%=user.email%></li>
			<% end %>
		</div>
		<div class="col-md-4">

			<%= render "posts/index" %>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

	 

		